html, body {
    margin: 0;
    padding: 0;
    height: auto; /* Allow the body height to grow with the conten */
    min-height: 100%;
    width: 100%;
}

body {
    background-color: #0051ff;
    background-image: url('websitemain.png'); /* Make sure this path is correct */
    background-position: top center; /* Centers the image horizontally and aligns the top */
    background-repeat: no-repeat;
    background-size: 50% auto; /* Image width fills the screen, height adjusts automatically */
    background-attachment: scroll; /* Ensures the background scrolls with the content */
    display: flex;
    flex-direction: column;
}

.content {
    position: relative; /* Keeps content on top of the background */
    z-index: 10; /* Ensures the content is above the background */
    color: white;
    text-align: center;
    min-height: 100vh; /* Ensures there's enough content to demonstrate scrolling */
    padding: 20px; /* Adjust as needed */
    flex: 1; /* Allows the content to grow and push the footer down */
}

.image-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust the gap between the images as needed */
    margin-top: calc(130.00v); /* Positions the container 1/3 down from the viewport height, adjusting for half the container's height */
    width: 75vw; /* Set the width of the container to 75% of the viewport width */
    margin-left: auto;
    margin-right: auto;
}

.image-buttons a img {
    width: 65%; /* Each image will take up 100% of the container's width */
    height: auto; /* Maintains the aspect ratio */
    cursor: pointer;
}

.music-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Add some space between the original buttons and the music button */
}

.music-button button {
    background: none; /* Remove button background */
    padding: 0; /* Remove button padding */
    border: none; /* Remove button border */
    cursor: pointer;
}

.music-button button img {
    width: 80px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Media queries for desktop devices */
@media (min-width: 769px) {
    .music-button button img {
        width: 160px; /* Adjust the width as needed for desktop */
        height: auto; /* Maintain aspect ratio */
    }
}

/* Media queries for mobile devices */
@media (max-width: 768px) {
    .image-buttons {
        margin-top: calc(95.33vh - 25px); /* Adjust this value as needed for smaller screens */
    }
    
    footer p {
        font-size: 0.3em; /* Smaller font size for mobile devices */
    }
}

footer {
    background-color: #a7a9ab;
    padding: 10px;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20; /* Ensure the footer is above other elements */
}

footer p {
    font-size: 1em;
    color: black;
    margin: 0;
    display: flex;
    align-items: center;
}

.copy-button {
    background-color: #0052ff;
    border: 2px solid black;
    color: black;
    font-size: 1em;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 10px;
}

.copy-button:hover {
    background-color: #ffd864; /* Slightly lighter on hover */
}
